<!DOCTYPE html>
<html>
  <head>
    <title>Exam2019</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav id="navbar-app" class="navbar navbar-expand-lg bg-dark justify-content-between fixed-top">
    <a data-turbolinks='false' class="text-light" href="<%= root_path %>">Z-Mobile</a>
  </nav>

    <%= yield %>

  <footer id="footer-app">
    <nav class="navbar navbar-expand-lg bg-dark justify-content-end">
      <div class="nav-item">
        <a class="nav-link text-light" href="/">Call center: +569 65287514</a>
      </div>
      <div class="nav-item">
        <a class="nav-link text-light" href="/">HQ office: False street 123</a>
      </div>
    </nav>
  </footer>
  </body>
</html>
